<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>hobbyLink -ログイン-</title>
</head>
<body>
    <main>
        <h1>hobbyLink</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1>ログイン</h1>
            <h2>メールアドレス</h2>
            <input type="email" name="email">
            <h2>パスワード</h2>
            <input type="password" name="password">
            <button type="submit">ログイン</button>
        </form>
        <p>アカウントをお持ちでない方は<a href="{% url 'signup' %}">こちら</a></p>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </main>
</body>
</html>
