<!DOCTYPE html>
<html lang="ja">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <main>
        <div class="nav">
            <h1>hobbyLink</h1>
            <nav>
                <ul>
                    <li><a href="/hobbyLink/">Home</a></li>
                    <li><a href="/hobbyLink/timeline/">タイムライン</a></li>
                    <li><a href="/hobbyLink/reminder/">通知</a></li>
                    <li><a href="/hobbyLink/chat/">チャット</a></li>
                </ul>
            </nav>
        </div>
        {% block content %}
        {% endblock %}
        {% block javascript %}
        {% endblock %}
    </main>
</body>

</html>