{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block title %}
チャット
{% endblock %}

{% block content %}
<div class="content">
    <section class="friends">
        <div class="friends_header">
            <h2 id="new_chat">新しいチャットを始める</h2>
        </div>
        <div class="friends_body">
            {% for chat in chat_data %}
                <h2 class="friend_name" id="chat-{{ chat.id }}">{{ chat.name }}</h2>
            {% endfor %}
        </div>
    </section>
    {% for chat in chat_data %}
        <section  id="chat_body-{{ chat.id }}" class="chat">
            <div class="chat_header">
                <h2>グループ名</h2>
            </div>
            
                <div class="chat_body">
                {% for message in chat.message_set.all %}
                    <div class="{% if message.sender.user_id|to_str == login_user %}my{% endif %}">
                        <h3>{{ message.sender.user_name }}</h3>
                        {% if message.text != "" %}
                            {% if message.sender.user_id|to_str == login_user %}
                                <p>{{ message.timestamp|date:"H:i" }}<span class="text">{{ message.text }}</span></p>
                            {% else %}
                                <p><span class="text">{{ message.text }}</span>{{ message.timestamp|date:"H:i" }}</p>
                            {% endif %}
                        {% endif %}
                        {% if message.image %}
                        <img src="{% static 'images/chat_img/' %}{{ message.image }}" alt="">
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            
            <div class="chat_footer-{{ chat.id }}">
                <form action="{{ chat.id }}/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="send_image" name="image">
                    <input type="text" id="send_text" name="text">
                    <button type="submit" id="send">送信</button>
                </form>
            </div>
        </section>
    {% endfor %}
    <section class="friend_search">
        <h1>チャットを始める</h1>
        <input type="text" id="user_search" autocomplete="new-password">
        <div id="suggestions" class="suggestions_list"></div>
    </section>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/user_search.js' %}"></script>
<script src="{% static 'js/create_chat.js' %}"></script>
{% endblock %}