{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="left">
        <section class="trend_post">
            <h1>話題の投稿</h1>
            {% for post in post_data %}
            <div class="post">
                <div class="user_name">{{ post.user_id.user_name }}</div>
                <div class="post_content">{{ post.post_text }}</div>
                <div class="time">{{ post.post_time }}</div>
            </div>
            
            {% endfor %}
        </section>
    </div>
    <div class="right">
        <section class="trend_tag">
            <h1>注目のタグ</h1>
            {% for tag in favorite_tag %}
                
            <div class="tag">
                <div class="name">{{ tag.tag_id__tag }}</div>
                <div class="count">{{ tag.tag_count }}件の投稿</div>
            </div>
            {% endfor %}
        </section>
        <!-- <section class="reminder">
            <h1>通知</h1>
            <div class="item">
                <div class="title">リマインダー1</div>
                <div class="description">ここにリマインダーの内容が表示されます...</div>
                <div class="time">1時間前</div>
            </div>
            <div class="item">
                <div class="title">リマインダー2</div>
                <div class="description">ここにリマインダーの内容が表示されます...</div>
                <div class="time">2時間前</div>
            </div>
        </section> -->
    </div>
</div>
{% endblock %}
